.play{
display: flex;
width: 50%;
align-items: center;
gap: 10px;
    

}
.play img{
    height: 30px;
    width: 50px;
}

.run{
    display: flex;
    
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
nav ul li {
    list-style: none;
    
}
span{
    color: blueviolet;
}
.jump{
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.red{
    background-color: #8758F1;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.sky{
    background-color: aqua;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.race{
    background-image: url(../images/Group\ 14.png);
    width: 800px;
    height: 500px;
    background-repeat: no-repeat;
}
.bigger{
    display: flex;
}
.small{
    width: 500px;
}
.short{
    text-align: center;
    
    
    
}
.container-image{
    display: flex;
    padding: 10px;
    gap: 10px;
    
}
.long{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.long-content{
    
    max-width: 400px;
    
}
.long-content h3{
     font-size: 40px;
}
.long-run{
    position: relative;
    bottom: 100px;
    
}
.long-stop{
    margin-left: 90px;
}



.box-image{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: bisque;
    gap: 50px;
}
.single-image{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.single-image:hover{
    border: 2px solid red;
    color:red;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer ul{
    background-color: black;
}
.black{
display: flex;
justify-content: center;
gap: 20px;
align-items: center;
    
}
.rini{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.green ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;


        
    
}footer{
    padding: 30px;
}
.simi{
    width: 30px;
    height: 30px;
}





    
    




